<% layout('layouts/boilerplate.ejs') %>
    <form action="/posts/<%=post._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Enter a title</label>
            <input type="text" id="title" name="post[title]" value="<%=post.title%>">
        </div>
        <div>
            <label for="description">Enter a description</label>
            <textarea name="post[description]" id="description" cols="23" rows="3"><%=post.description%></textarea>
        </div>
        <button>Update Post</button>
    </form>
    <a href="/posts/<%=post._id%> ">Back to post</a>
