<% layout('layouts/boilerplate.ejs')  %> 
    <h1>All posts</h1>
    <a href="/posts/new">Create A post</a>
    <ul>
        <% for(let post of posts){%>
            <li><a href="/posts/<%=post._id%>"> <%=post.title%> </a></li>
        <%}%>
    </ul>

